@page "/weather"

@using MudCompositeApp.Composites

@inherits MudComposite.ViewComponents.MudListViewComponent<WeatherForecast, SearchModel, IWeatherListViewComposite>

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>
 
<MudDataGrid T="WeatherForecast"
             EditMode="DataGridEditMode.Form"
             Dense="true"
             ServerData="ViewModel.ServerReload"
             Filterable="false"
             SortMode="SortMode.None"
             RowStyleFunc="ViewModel.RowStyleFunc"
             RowClick="ViewModel.DataGridRowClick"
             @ref="ViewModel.DataGrid">
    <Columns>
        <PropertyColumn Property="m => m.Date"/>
        <PropertyColumn Property="m => m.Summary"/>
        <PropertyColumn Property="m => m.TemperatureC"/>
        <PropertyColumn Property="m => m.TemperatureF"/>
        <TemplateColumn>
            <CellTemplate>
                <MudButton Variant="Variant.Filled" OnClick="@(() => ViewModel.Click("detail", context.Item))"></MudButton>
                <MudButton Variant="Variant.Filled" OnClick="@(() => ViewModel.Remove(context.Item))">delete</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="WeatherForecast" pa />
    </PagerContent>
</MudDataGrid>

<MudButton OnClick="Cancel">Go BACK</MudButton>

@code {
    protected override void OnViewAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            ViewModel.Initialize();
        }
    }
}