@page "/weather"

@using MudCompositeApp.Composites

@inherits MudComposite.Components.MudListViewComponent<WeatherForecast, SearchModel, IWeatherListViewComposite>

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>
 
<MudDataGrid T="WeatherForecast"
             EditMode="DataGridEditMode.Form"
             Dense="true"
             ServerData="Composite.ServerReload"
             Filterable="false"
             SortMode="SortMode.None"
             RowStyleFunc="Composite.RowStyleFunc"
             RowClick="Composite.DataGridRowClick"
             @ref="_dataGrid">
    <Columns>
        <PropertyColumn Property="m => m.Date"/>
        <PropertyColumn Property="m => m.Summary"/>
        <PropertyColumn Property="m => m.TemperatureC"/>
        <PropertyColumn Property="m => m.TemperatureF"/>
        <TemplateColumn>
            <CellTemplate>
                <MudButton Variant="Variant.Filled" OnClick="@(() => Composite.GoDetail())"></MudButton>
                <MudButton Variant="Variant.Filled" OnClick="@(() => Composite.Remove(context.Item))">delete</MudButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
    <PagerContent>
        <MudDataGridPager T="WeatherForecast" pa />
    </PagerContent>
</MudDataGrid>

<MudButton OnClick="Cancel">Go BACK</MudButton>

@code {
    MudDataGrid<WeatherForecast> _dataGrid;
    protected override void OnViewAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            Composite.SetUp(_dataGrid);
        }
    }
}